/*-------------------VARIABLES-------------------*/
:root {
    --blanco: #ffffff;
    --negro: #000000;
    --oscuro: #041C32;
    --oscuro-claro: #04293A;
    --primario: #064663;
    --primario-claro: #0f465f;
    --secundario: #ECB365;
    --secundario-claro: #ffcb82;
    --gris: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 80%;
}

.body__theme--white {
    background-color: var(--blanco);
    color: var(--primario);
}

.body__theme--white h1 {
    font-size: 3.5rem;
}

.body__theme--white h2 {
    font-size: 2.8rem;
}

.body__theme--white h3 {
    font-size: 1.8rem;
}

.body__theme--white h4 {
    font-size: 1.2rem;
}

.body__theme--white h1,
.body__theme--white h2 {
    text-align: center;
    color: var(--primario);
}

.body__theme--white h1,
.body__theme--white h2,
.body__theme--white h3,
.body__theme--white h4,
.body__theme--white h5,
.body__theme--white h6 {
    padding: .5rem 0;
    margin: .5rem 0;
}

.body__theme--white p {
    text-align: center;
    color: var(--oscuro);
}

.button {
    background-color: var(--primario);
    color: var(--blanco);
    padding: .75rem 1rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 0 var(--dorado);
    transition: ease-out 0.3s;
    outline: none;
    border: none;
}

.button:hover {
    box-shadow: inset 300px 0 0 0 var(--dorado);
    color: var(--blanco);
}

li,
p {
    line-height: 1.5;
    padding: 0.5rem 0;

}

img {
    max-width: 100%;
}

ul,
li {
    list-style: none;
}

#btn-menu {
    display: none;
}

/*-------------------NAVEGACION-------------------*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--oscuro);
    height: 8rem;
}

.nav a {
    text-decoration: none;
}

.nav__firma {
    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 5rem;
    display: flex;
    flex-flow: column wrap;
}

.nav__cnt {
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    justify-content: flex-end;
}

.nav__ico {
    font-size: 3.5rem;
    margin-top: 2.85rem;
}

.nav__lista {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 3.25rem;
    font-size: 1.25rem;
    letter-spacing: 0.20rem;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 10%;
    text-align: center;
    z-index: 1000;
}

.nav__lista li {
    position: relative;
}

.nav__lista a:hover {
    color: var(--secundario);
}

.nav__link--blk {
    color: var(--blanco);
}

.nav__link--wht {
    color: var(--oscuro);
}

.nav__link--red {
    background-color: var(--primario);
    font-size: 1rem;
}

.nav__link--baseline::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--secundario);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.nav__link--baseline:hover::before,
.nav__link--baseline:focus::before {
    transform: scaleX(1);
}

#btn-menu:checked~.nav__lista {
    left: 0;
}

.btnCarrito {
    background-color: var(--secundario);
    font-size: 1.5rem;
    border: none;
    height: 4rem;
    width: 4rem;
    margin-top: -1rem;
    justify-content: center;
}

.btnCarrito:hover {
    background-color: var(--primario);
}

.cart__num {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--blanco);
    border: 1px solid var(--primario);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--oscuro);
    padding: 2px;
}

.btnOriginal {
    background-color: var(--secundario);
    border-color: var(--secundario);
    color: var(--blanco);
}

.btnOriginal:hover {
    background-color: var(--primario);
    border-color: var(--primario);
    color: var(--blanco);
}

.btnEspecial {
    background-color: var(--blanco);
    border-color: var(--secundario);
    color: var(--secundario);
}

.btnEspecial:hover {
    background-color: var(--secundario);
    border-color: var(--secundario);
    color: var(--blanco);
}

@media (min-width: 820px) {
    .nav__cnt {
        flex-flow: row wrap;
        width: 80%;
    }

    .nav__ico {
        display: none;
    }

    .nav__lista {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 2.85rem;
        font-size: 1.25rem;
        letter-spacing: 0.20rem;
        width: 100%;
        position: initial;
    }

    .nav__despl:hover>ul {
        display: block;
    }
}

@media (min-width: 1100px) {
    .nav__cnt {
        width: 60%;
    }
}

/* -------------------------- CONTENIDO   ------------------------------- */
.contenido {
    text-align: center;
    padding: 2rem 0rem;
}
/* --------------- CARRITO   --------------- */
.carrito {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: space-around;
    background-color: var(--primario);
    color: var(--blanco);
}

.carrito__titulos {
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;
    padding-top: 1rem;
}

.carrito__container {
    width: 90%;  
    margin: auto;
    color: var(--oscuro);
    background-color: var(--blanco);
}

.carrito__item {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
    width: 100%;  
    border-bottom: 1px solid var(--gris);
    
}

.carrito__img {
    width: 10rem;
    padding: 1rem;
    margin: auto;
}
.carrito__desc {
    width: 20rem;
    padding: 1rem;
    margin: auto;
}
.carrito__x {
    width: 4rem;
    margin: auto;
}

.compra__titulos{
    margin: 2rem 0;
}

.compraFinalizada{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    height: 10rem;    
    color: var(--oscuro);
    height: 35rem;
}

/* --------------- ITEMS   --------------- */
.productos {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
}

.productos__card {
    background-color: var(--blanco);
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    color: var(--primario);
    width: 30rem;
    height: 30rem;
    margin: 3rem auto;
    box-shadow: 0 0.2rem 0.5rem 0 var(--oscuro);
}

.productos__img {
    height: 50%;
    width: 12rem;
    margin: auto;
    padding: 1rem;
}

.productos__descr {
    height: 40%;
    margin: auto;
    padding: 1rem;
}

/* --------------- DETALLE   --------------- */
.detalle__card {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 3fr);
    align-content: center;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    text-align: center;
    color: var(--primario);
    width: 90%;
    height: 60rem;
    margin: 3rem auto;
    box-shadow: 0 0.2rem 0.5rem 0 var(--oscuro);
}

.detalle__img {
    grid-column: 1/3;
    width: 85%;
    max-width: 60rem;
    margin: auto;
    padding: 1rem;
}

.detalle__descripcion {
    grid-column: 3/4;
    background-color: var(--primario);
    color: var(--blanco);
    width: 20rem;
    height: 60rem;
    padding: 2rem 1rem;
}
.detalle__item--izq {
    
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    height: 50%;
    border: 1px solid var(--blanco);
    padding: 2.5rem 1rem;
}
.detalle__item--center {
    margin: auto;
    height: 20%;
    padding: 3rem 0rem;
}
.detalle__item--center button{
    width: 100%;
    border: 1px solid var(--blanco);
}

.detalle__box--amarillo{
    color: var(--blanco);
    width: 4rem;
    text-align: center;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--secundario);
    border-radius: 10px;
}

.detalle__label--amarillo{
    color: var(--secundario-claro);
}

.detalle__pagos{
    font-size: 2rem;
}



/* --------------- CONTADOR   --------------- */
.contador {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    height: 10rem;    
    color: var(--oscuro);
}

.contador__numBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    background-color: var(--blanco);
    color: var(--negro);
    height: 2.5rem;
}

.contador__agregado {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    height: 10rem;    
    color: var(--oscuro);
}

/* --------------- FOOTER   --------------- */

.footer {
    background-color: var(--oscuro);
    text-align: center;
    padding: 1rem;
}

.footer p {
    color: var(--blanco);
}

.footer__redes {
    padding-bottom: 2rem;
}

.footer__redes a {
    color: var(--secundario-os);
    font-size: 2rem;
    line-height: 2rem;
    margin: 2rem;
}

.footer__redes a:hover {
    color: var(--blanco);
}

.footer__nav a {
    color: var(--blanco);
    font-size: 1.2rem;
    margin: 1rem;
}

.footer__nav a:hover {
    color: var(--secundario-os);
}